{
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "no-duplicate-imports": 2,
        "no-duplicate-case": 2,
        "no-trailing-spaces": 2,
        "space-before-blocks": 2,
        "camelcase": 2,
        "no-empty-function": 2,
        "no-mixed-spaces-and-tabs": 2,
        "spaced-comment": 2
    },
    "env": {}
}
